html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  color: white;
}

a:link,
a:visited {
  color: #bdc3c7;
}

.credit {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
}

#desc-container {
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 250px;
  background: black;
  color: #000;
  border-radius: 3px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  border: 10px solid black;
}

#desc-container > iframe {
  /* border: none;
  width: 100%;
  height: 400px; */
  /* RESPONSIVE IFRAME?! */
  /* border: 10px solid black; */
}

/* img {
  height: 300px !important;
  width: 300px !important;
} */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

h2 {
  color: white;
}

.fullpage {
  height: 100vh;
}

.intro-title,
.about-title {
  font-size: 20px;
  margin-top: 5%;
  text-align: center;
}

.intro-title h2,
.about-title h2 {
  font-size: 20px;
}

.intro-text,
.about-blurb {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cyoa-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.intro-text p,
.about-blurb p {
  width: 66%;
}

.hide {
  display: none;
}

button {
  padding: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  margin: 0 20px;
  transition: all 0.4s;
  cursor: pointer;
}

button:hover {
  background: white;
  color: black;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

li {
  font-size: 30px;
  margin-bottom: 20px;
}

a:hover {
  color: #373a47;
}

.about-artist {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 0 auto;
}

.about-blurb {
  margin-bottom: 20px;
}

.about-blurb-flex p {
  text-align: left;
}

.socials {
  text-align: center;
  margin-top: 20px;
}

.socials a {
  margin: 10px;
}

.flex-image img {
  width: 200px;
}

.mailing-list {
  text-align: center;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
}

input {
  background: black;
  color: white;
  border: 2px solid white;
  padding: 10px;
  font-size: 20px;
}

.mailing-list button {
  font-size: 20px;
}

.mailing-list p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

#typed {
  color: #fff;
  text-shadow: 0px 0px 2px #000;
  font-size: 24pt;
}

#dialog {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  pointer-events: none;
}

#progress {
  width: 0;
  height: 5px;
  position: fixed;
  top: 0;
  background: #fff;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#progress.finish {
  opacity: 0;
}

/* .typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
} */
